{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
{% comment %} PARENT CARD {% endcomment %}
<div class="card content-card c-group col-md-12 mx-auto p-0 fade-up">
    <div class="card-header bg-dark text-white "> Sales Register </div>
    
    <div class="form-row mx-auto col-md-12 mt-3">
        <div class="card col-md-5 p-0"> 
            <div class="card-header ">Sales Info</div>
            <div class="card-content p-3">
                <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                {% comment %} SALES CARD {% endcomment %}
                <div class="form-row">
                    <div class="col-md-6">{{ sales_form.Sales_ID|as_crispy_field }}</div>
                    <div class="col-md-6">{{ sales_form.OR|as_crispy_field }}  </div>                        
                </div>
                <div class="form-row">
                    <div class="col-md-6"> {{ sales_form.Date_Sold|as_crispy_field }} </div> 
                </div>
                <div class="form-row">
                    <div class="col-md-12"> {{ sales_form.Customer|as_crispy_field }} </div>   
                </div>            
            </form>
            </div>
        </div>
        <div class="card col-md-6 ml-3 p-0">
            <div class="card-header"> Item List </div>
            <div class="card-content p-3">
                <form action="" method="POST">
                {% csrf_token %}        
                {{ saleslist_form.media }}    
                    <div class="form-row">
                        <div class="col-md-6">{{ saleslist_form.Item|as_crispy_field }}</div>
                        <div class="col-md-2">{{ saleslist_form.Quantity|as_crispy_field }}  </div>    
                        <div class="col-md-1"></div>   
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary" name="button">Add Item</button>   
                        </div>   
                        </div>
                    </div>                    
                </form>

                {% for item in added_item %}                
                    {{ item }}
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    
    
</div>

<script>
    $(document).ready(function() {
        $("[name='Quantity'],[name='Cost']").on("change keyup", function() {
            $("[name='List_Price']").val(($("[name='Quantity']").val() * $("[name='Total_Sales']").val()))
        });
    });
</script> 
{% endblock %}