{% extends 'inventory/base.html' %}

{% load bootstrap4 %}
{% block body %}

<div class="card content-card col-md-10 mx-auto p-3">
    <form action="" method="GET" > 
    
        {% csrf_token %}
        {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
        {{ search_form.media }}
        
        <div class="row">
            <div class="input-group col-md-4">
                From
                {{ search_form.date_start }}                
            </div>
            <div class="input-group col-md-4">
                <span>To</span>
                {{ search_form.date_end }}
            </div>
            <div class="input-group col-md-4">
                <span class="spacer">.</span>
                <div class="input-group">
                    <a href="" class="btn btn-primary col-12 " role="button" name="search_date" value="search_date"><i class="fas fa-search"></i> Search</a>
                </div>
            </div>
        </div>
        
    </form>
</div>
<div class="card content-card mt-3">
    <div class="card-header">        
        <div class="row">
            <div class="col-7"><h4>Sales Summary</h4></div>
            <div class="col-4 text-right">
                <form action="" method="POST" target="_blank">
                {% csrf_token %}
                    <div class="btn-group col-md-12 px-0 text-center d-sm-inline-block d-lg-none">
                        <a href="{% url 'sales-register' 0 %}" class="btn btn-outline-info btn-sm " role="button"><i class="fas fa-plus" aria-hidden="true"></i></a>
                        <button type="submit" class="btn btn-outline-info btn-sm" name="btn-print" value="btn-print" target="_blank"><i class="fas fa-print"></i></button>                        
                    </div>
                    <div class="btn-group col-md-12 px-0 text-center d-none d-lg-inline-block">
                        <a href="{% url 'sales-register' 0 %}" class="btn btn-outline-info btn-sm" role="button">Sell Product</a>
                        <button type="submit" class="btn btn-outline-info btn-sm" name="btn-print" value="btn-print" target="_blank">Print</button>
                    </div>
                </form>
            </div>
            <div class="btn-group col-1 d-flex flex-row-reverse">
                <a href="{% url 'dashboard' %}" class="btn btn-sm btn-close p-0 text-right" role="button"><i class="fas fa-times"></i></a> 
            </div>          
        </div>    
    </div>

    <table class="table table-hover" id="product-table">
        <thead>
            <th>ID</th>
            <th>OR</th>
            <th>Customer</th>
            <th>Total Sales</th>
            <th>Date</th>
            <th>User</th>  
            <th></th>
            <th></th>  
        </thead>

        <tbody>
            {% for item in sales %}
            
            <tr class="table-row" data-href="{% url 'sales-details' item.pk%}" >
                <td>{{ item.pk }}</td>
                <td>{{ item.OR }}</td>
                <td>{{ item.Customer }}</td>
                <td>{{ item.Total_Sales }}</td>
                <td data-toggle="tooltip" data-placement="top" 
                    title="{{item.Date_Sold|date:"g:ia"}}">
                    {{ item.Date_Sold|date:"m/d/y" }}
                </td>
                <td>{{ item.User }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        <nav class="mx-auto">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page=1" class="page-link"><i class="fas fa-fast-backward"></i></a></li>
                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><strong>PREV</strong> </a></li>
                {% else %}    
                    <li class="page-item disabled"><span class="page-link"><i class="fas fa-fast-backward"></i></span></li>
                    <li class="page-item disabled"><span class="page-link">PREV</span></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}                    
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"> <a href="?page={{ num }}" class="page-link">{{ num }}</a> </li>                        
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"><strong>NEXT</strong></a></li>            
                    <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link"><i class="fas fa-fast-forward"></i></a></li>  
                {% else %}    
                    <li class="page-item disabled"><span class="page-link">NEXT</span></li>
                    <li class="page-item disabled"><span class="page-link"><i class="fas fa-fast-forward"></i></span></li>
                {% endif %}
            </ul>
        </nav>        
    {% endif %}
</div>

<script>
$(document).ready(function($) {
    $(".table-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock %}