{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block body %}
{% comment %} PARENT CARD {% endcomment %}
<div class="card content-card c-group col-md-12  ">
    <div class="row card-header">
        <div class="col-7"><h4>Sales Details</h4></div>
        <div class="col-4 text-right">
            <form action="" method="POST" target="_blank">
            {% csrf_token %}
                <div class="btn-group col-md-12 px-0 text-center d-sm-inline-block d-lg-none">
                    <a href="{% url 'sales-register' 0 %}" class="btn btn-outline-info btn-sm " role="button"><i class="fas fa-plus" aria-hidden="true"></i></a>
                    <button type="submit" class="btn btn-outline-info btn-sm" name="btn-print" value="btn-print" target="_blank"><i class="fas fa-print"></i></button>                        
                </div>
                <div class="btn-group col-md-12 px-0 text-center d-none d-lg-inline-block">
                    <a href="{% url 'sales-register' 0 %}" class="btn btn-outline-info btn-sm" role="button">Sell Product</a>
                    <button type="submit" class="btn btn-outline-info btn-sm" name="btn-print" value="btn-print" target="_blank">Print</button>
                </div>
            </form>
        </div>
        <div class="btn-group col-1 d-flex flex-row-reverse">
            <a href="{% url 'dashboard' %}" class="btn btn-sm btn-close p-0 text-right" role="button"><i class="fas fa-times"></i></a> 
        </div>          
    </div>    
    <div class="row mx-auto col-md-12 mt-3">
        {% comment %} ITEM CARD {% endcomment %}
        <div class="card-content col-md-7 p-3">
                {% comment %} TOTAL PRICE {% endcomment %} 
                {% for item in saleslist %}                
                    {% comment %} {{ item }} {% endcomment %}                    
                    <div class="card item-card col-md-12 mx-0 my-1 p-2">
                        <div class="row">
                            <div class="col-md-4"> 
                                <strong>{{ item.Item.Name }}</strong>
                                <span class="item-desc">P {{ item.Item.List_Price|intcomma|floatformat:2 }} | {{ item.Item.Unit }} </span>                                 
                            </div> 
                            
                            <div class="input-group col-md-4 d-flex justify-content-between align-items-center">
                                <a href="" class="btn btn-"><i class="fas fa-plus"></i></a>
                                <div> <span>{{ item.Quantity }} / {{ item.Item.Quantity }}</span> </div>                            
                                <a href="" class="btn"><i class="fas fa-plus"></i></a>
                            </div>
                            
                            <div class="col-md-3 text-right"> <strong class="txt-blue-d"> P {{ item.Total_Item_Price|floatformat:2 }} </strong></div>
                
                            <div class="col-md-1">
                                <a href="{% url 'list-item-delete' item.pk %}" 
                                    role="button" name="delete-item" >
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>                            
                        </div>                        
                    </div>
                {% endfor %}
                
            </div>

        {% comment %} SALES CARD {% endcomment %}
        <div class="card dark-card col-md-5 p-0"> 
            <div class="card-header ">Sales Info</div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-content p-3">                    
                    {{ form.media }}          
                    <div class="form-row">                        
                        <div class="col-md-4">{{ form.OR|as_crispy_field }}  </div>     
                        <div class="col-md-6"> {{ form.Date_Sold|as_crispy_field }} </div> 
                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-12"> {{ form.Customer|as_crispy_field }} </div>   
                    </div>            
                    <hr>
                    <h5>Total Amount : <strong>P {{ sales.Total_Sales }}</strong></h5>
                    
                </div>

            </form>
        </div>

    </div>       
</div>
{% endblock %}