{% extends 'pdf/pdf_template.html' %}

{% block content %}
{% include "pdf/header.html" %}
<div class='header'>
    <p class='title'>PRODUCT LIST</p>
</div>
<div class='details'>
    <table class="table" id="product-table" >
        <thead >
            <th >ID</th>
            <th align="left">Name</th>
            <th >Unit</th>
            <th >Stock</th>
            <th >Price</th>
            <th align="left">Category</th>  
        </thead>

        <tbody>
            {% for item in items %}                  
            <tr>
                <td align="center" width="70">{{ item.pk }}</td>
                <td ><strong>{{ item.Name }}</strong></td>
                <td align="center" width="100">{{ item.Unit }}</td>
                <td align="center" width="80">{{ item.Quantity }}</td>
                <td align="center" width="300">{{ item.List_Price|floatformat:2 }}</td>
                <td width="150">{{ item.Category }}</td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}