{% load static %}

<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,600|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/96e3f1b7ca.js"></script>
    

    {% if title %}
        <title>Laugo - {{ title }}</title>
    {% else %}
        <title>Laugo Management System</title>
    {% endif %}
  </head>
  <body>
    {% comment %} TOP NAVIGATION {% endcomment %}

    <div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3><i class="fas fa-paw"></i> Clinic</h3>
          
        </div>

        <ul class="list-unstyled components"> 
          {% if user.is_authenticated %}
            <li class="active">
              <a href="{% url 'dashboard' %}"> <i class="fas fa-home nav-icn"></i> Dashboard</a>

              <a href="#inventory-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-prescription-bottle nav-icn"></i> Inventory</a>
              <ul class="collapse list-unstyled" id="inventory-submenu">
                <li>
                  <a href="{% url 'product-list' %}">Product List</a>
                </li>
                {% comment %} <li>
                  <a href="{% url 'purchase-view'%}">Purchase</a>
                </li> {% endcomment %}
                <li>
                  <a href="{% url 'purchase-list' %}">Purchase List</a>
                </li>
                
              </ul>
            </li>

            <li>            
              <a href="#sales-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i class="fas fa-cash-register nav-icn"></i> Sales</a>
              <ul class="collapse list-unstyled" id="sales-submenu">
                <li>                  
                  <a href="{% url 'sales-register' 0 %}">Sales</a>
                </li>  
                <li>
                  <a href="{% url 'sales-summary' %}">Sales Summary</a>
                </li>
              </ul>
            </li>
          {% endif %}

          
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="#" class="download">Contact Jerome</a>
            </li>
            <li>
                <a href="#" class="article">Back to article</a>
            </li>
        </ul>
      </nav>

      <!-- Page Content Holder -->
      <div id="content" class="content-wrapper" >

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">

                  <button type="button" id="sidebarCollapse" class="navbar-btn">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>               
                  

                  <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <svg class="svg-inline--fa fa-align-justify fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="align-justify" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V44c0-8.837 7.163-16 16-16h416c8.837 0 16 7.163 16 16v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16zm16 144h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 256h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0-128h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg><!-- <i class="fas fa-align-justify"></i> -->
                  </button>

                  {% comment %} TOP NAVIGATION {% endcomment %}
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="nav navbar-nav ml-auto">
                          {% if user.is_authenticated %}
                            <li class="nav-item">
                            <a class="nav-link" id="time-nav"></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>                
                          {% else %}
                              <li class="nav-item">
                              <a class="nav-link" href="{% url 'login'%}">Login</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Sign Up</a>
                              </li>
                          {% endif %}                       
                      </ul>
                  </div>
              </div>
          </nav>
          
          <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block body %}            
            {% endblock %}
          </div>
          
      </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    {% comment %} JQuery {% endcomment %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>  
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });

            function getdate(){
              var today = new Date();
              var h = today.getHours();
              var m = today.getMinutes();
              var s = today.getSeconds();
              if(s<10){
                  s = "0"+s;
              }

              $("#time-nav").text(h+" : "+m+" : "+s);
              setTimeout(function(){getdate()}, 500);
              }
          
            setInterval(getdate()); 

            $('.fade-up').delay(50).animate({'marginTop':'+=-100px','opacity':'1'},300);
        });
    </script>


  </body>
</html>