{% extends 'inventory/base.html' %}

{% block body %}
{% load humanize %}

{% comment %} ~~~~~~~ PURCHASES ~~~~~~~~~~~ {% endcomment %}
<div class="row">
    <div class="card content-card col-md-5 p-0 mx-auto fade-up">
        <div class="card-header"> Purchases Today </div>
        <div class="card-body p-2">

            <ul class="nav list-title c-headers">
                <li class="nav-item col-4"> <a href="">Item</a> </li>
                <li class="nav-item col-2 text-center"> <a href="">Qty</a> </li>
                <li class="nav-item col-3 text-right"> <a href="">Cost</a> </li>
                <li class="nav-item col-3"> <a href="">User</a> </li>
            </ul>

            {% for item in purchases %}
                <a href="" class="card item-card mt-1">
                    <ul class=" nav list-title">
                        <li class="nav-item col-4 "> 
                            <strong> {{ item.Item.Name }} </strong> 
                            <br>
                            <span class="item-desc"> {{ item.Cost}} | {{ item.Item.Unit }} </span> 
                        </li>
                        <li class="nav-item col-2 text-center"> {{ item.Quantity }} </li>
                        <li class="nav-item col-3 text-right"> {{ item.Total_Cost|intcomma }} </li>
                        <li class="nav-item col-3"> {{ item.User }} </li>
                    </ul>
                </a>                
            {% endfor %}

            <div class="col-sm-12 float-right">
                <span class="float-right">Total Cost : <strong>P {{ total_purchases|intcomma }}</strong></span>                
            </div>   
        </div>        
        <div class="card-footer text-muted">
            <div class="row text-right">
                <div class="col-sm-3">
                    <a href="{% url 'purchase-view' %}" 
                        class="btn btn-info btn-sm " 
                        role="button" 
                        data-toggle="tooltip" data-placement="right" 
                        title="View Purchase List">
                        Purchase
                    </a>
                </div>
                
                <div class="col-sm-4">
                    <a href="{% url 'purchase-list' %}" 
                        class="btn btn-outline-info btn-sm " 
                        role="button" 
                        data-toggle="tooltip" data-placement="right" 
                        title="View Purchase List">
                        View Purchases
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% comment %} ~~~~~~~~~~~~ SALES ~~~~~~~~~~~~ {% endcomment %}
    <div class="card content-card col-md-5 mx-auto fade-up px-0">
        <div class="card-header">Sales Today</div>
        <div class="card-body p-2">

            <ul class="nav list-title c-headers">
                <li class="nav-item col-4"> <a href="">Item</a> </li>
                <li class="nav-item col-2 text-center"> <a href="">Qty</a> </li>
                <li class="nav-item col-3 text-right"> <a href="">Sales</a> </li>
                <li class="nav-item col-3"> <a href="">Customer</a> </li>
            </ul>

            {% for sales_item in sales %}
                <a href="" class="card item-card mt-1">
                    <ul class=" nav list-title">
                        <li class="nav-item col-4 "> 
                            <strong> {{ sales_item.Item.Name }} </strong> 
                            <br>
                            <span class="item-desc"> {{ sales_item.Item.List_Price|intcomma }} | {{ sales_item.Item.Unit }} </span> 
                        </li>
                        <li class="nav-item col-2 text-center"> {{ sales_item.Quantity }} </li>
                        <li class="nav-item col-3 text-right"> {{ sales_item.Total_Item_Price|intcomma }} </li>
                        <li class="nav-item col-3"> {{ sales_item.SalesID.Customer }} </li>
                    </ul>
                </a>                
            {% endfor %}
            <div class="col-sm-12 float-right">
                <span class="float-right">Total Sales : <strong>P {{ total_sales|intcomma }}</strong></span>                
            </div>   
        </div>
        <div class="card-footer text-muted px-0">
        </div>
    </div>    
</div>



{% endblock %}