{% extends 'inventory/base.html' %}

{% block body %}
<div class="card col-md-5 p-0 mx-auto fade-up">
    <div class="card-header"> Purchases Today </div>

    <div class="card-body p-2">
        <table class="table table-hover table-bordered table-sm col-sm-6 " id="dash-tables" font- >
            <thead class="thead-dark tbl-head col-sm-6">
                <th >Item</th>
                <th >Quantity</th>
                <th >Cost</th>
                <th >User</th>        
            </thead>

            <tbody>
                {% if purchases.item %}
                    {% for item in purchases %}            
                        <tr>
                            <td>{{ item.Item }}</td>
                            <td>{{ item.Quantity }}</td>
                            <td>{{ item.Total_Cost }}</td>
                            <td>{{ item.User }}</td>               
                        </tr>
                    {% endfor %}
                {% else %}

                    <tr>
                        <td col-sm-3>&nbsp;</td>
                        <td col-sm-3>&nbsp;</td>
                        <td col-sm-3>&nbsp;</td>
                        <td col-sm-3>&nbsp;</td>               
                    </tr>
                        

                {% endif %}
            </tbody>
        </table>
        <div class="col-sm-12 float-right">
            <span class="float-right">Total Purchases: <strong>{{ total_purchases }}</strong></span>                
        </div>   
    </div>
    
    <div class="card-footer text-muted">
        <div class="row text-right">
            <div class="col-sm-3">
                <a href="{% url 'purchase-view' %}" 
                    class="btn btn-info btn-sm " 
                    role="button" 
                    data-toggle="tooltip" data-placement="right" 
                    title="View Purchase List">
                    Purchase
                </a>
            </div>
            
            <div class="col-sm-4">
                <a href="{% url 'purchase-list' %}" 
                    class="btn btn-outline-info btn-sm " 
                    role="button" 
                    data-toggle="tooltip" data-placement="right" 
                    title="View Purchase List">
                    View Purchases
                </a>
            </div>
        </div>
    </div>
</div>    
    
    
</div>
{% endblock %}