{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<div class="card content-card col-md-12 mx-auto p-0">
    <form action="" method="GET" >

        {% csrf_token %}
        {% comment %} PRODUCTS FORM {% endcomment %}
        <div class="form-group col-md-12 mb-0">                
            <div class="form-row mx-auto">
                <div class="col-md-3 mb-0">                
                    {{ search_form.Name|as_crispy_field }}
                </div>
                <div class=" col-md-3 mb-0">
                    {{ search_form.Unit|as_crispy_field }}
                </div>
                <div class="col-md-3 mb-0">
                    {{ search_form.Category|as_crispy_field }}
                </div>
                <div class="col-md-3 mb-0 mt-4" name="ButtonHolder">                
                    <button type="submit" class="btn btn-primary col-md-12 mt-3" name="button">Search</button>   
                </div>                
            </div>            
        </div>

        {% comment %} <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search</legend>
                {{ search_form|crispy }}
        </fieldset> {% endcomment %}
        
    </form>
</div>
<div class="card content-card mt-3 fade-up">
    <div class="card-header bg-dark text-white">{{ title }}</div>

    <table class="table table-hover" id="product-table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>List Price</th>
            <th>Category</th>  
            <th></th>
            <th></th>  
        </thead>

        <tbody>
            {% for item in items %}
            
            <tr>
                <td>{{ item.pk }}</td>
                <td>{{ item.Name }}</td>
                <td>{{ item.Unit }}</td>
                <td>{{ item.Quantity }}</td>
                <td>{{ item.List_Price }}</td>
                <td>{{ item.Category }}</td>
                
                <td>
                    <a href="{% url 'product-add' item.pk %}" class="btn btn=sm" role="button"><i class="fas fa-plus"></i></a>
                </td>
                <td>
                    <a href="{% url 'product-delete' item.pk %}" class="btn btn=sm" role="button"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="container text-right pb-3">        
        <div class="mx-4"><a href="{% url 'purchase-add' %}" class="btn btn-primary btn-md" role="button">Purchase New Product</a></div>
    </div>        

    
</div>



{% endblock %}