{% extends 'inventory/base.html' %}

{% block body %}
<div class="card content-card fade-up">
    <div class="card-header bg-dark text-white">{{ title }}</div>
    
    <table class="table table-hover" id="product-table">
        <thead class="thead-dark tbl-head">
            <th>ID</th>
            <th>Item</th>
            <th>Supplier</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Date</th>  
            <th>User</th>
            {% if request.user.is_superuser %}
                <th>User</th>
            {% endif %}    

        </thead>

        <tbody>
            {% for item in purchases %}
            
            <tr>
                <td>{{ item.pk }}</td>
                <td>{{ item.Item }}</td>
                <td>{{ item.Supplier }}</td>
                <td>{{ item.Quantity }}</td>
                <td>{{ item.Cost }}</td>
                <td>{{ item.Date_Purchased }}</td>
                <td>{{ item.User }}</td>                
                {% if request.user.is_superuser %}
                    <td>
                        <a href="{% url 'purchase-delete' item.pk %}" class="btn btn=sm" role="button"><i class="fas fa-trash-alt"></i></a>
                    </td>
                {% endif %}        
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="container">        
        <div class="col-2 float-right mx-4"><a href="{% url 'product-new' %}" class="btn btn-primary btn-md" role="button">Purchase New Product</a></div>
        <div class="col-1 float-right "><a href="" class="btn btn-primary " data-toggle="modal" data-target="#giignan" >ay pislita</button></a> 
    </div>       

    
</div>



{% endblock %}