{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="card content-card col-md-4 mx-auto p-0 fade-up">
    <div class="card-header bg-dark text-white ">{{ title }}</div>
    
    <form action="" method="POST" >

        {% csrf_token %}
        {% comment %} PRODUCTS FORM {% endcomment %}
        <div class="form-group col-md-12 mb-0">     
            {{ form.media }}
            {{ form.as_p}}
            
        </div>

        <div class="card-footer text-right">
            <a href="{% url 'product-new' %}" class="btn btn-outline-info btn-dark" role="button">Purchase New Product</a>
            <button type="submit" class="btn btn-primary" name="button">Pruchase</button>                
        </div>
        
    </form>

    

</div>

<script>
    $(document).ready(function() {
    $("[name='Quantity'],[name='Cost']").on("change keyup", function() {
        $("[name='Total_Cost']").val(($("[name='Quantity']").val() * $("[name='Cost']").val()))
    });
    });

    $('#dynamic_select').on('change', function () {
        var url = $(this).val(); // get selected value
        if (url) { // require a URL
              window.location = url; // redirect
            }
        return false;
    });
</script>
{% endblock %}