{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="card content-card col-md-4 mx-auto p-0 fade-up">
    <div class="card-header bg-blue-d text-white ">
        <div class="row d-flex justify-content-between">
            <div class="col-9 mx-0"><h4 class="text-white">Purchase Item</h4></div>
            
            <div class="col-2 d-flex flex-row-reverse">
                <a href="{% url 'dashboard' %}" class="btn btn-sm btn-close p-0 text-right px-0 mx-0" role="button"><i class="fas fa-times"></i></a> 
            </div> 
        </div>    
    </div>
    
    <form action="" method="POST" >

        {% csrf_token %}
        {% comment %} PRODUCTS FORM {% endcomment %}
        <div class="form-group col-md-12 mb-0">     
            {{ form.media }}

            <div class="form-group col-md-12 mb-0">

                {{ form.Items|as_crispy_field }} 
            </div>                                   
            
            <div class="form-group col-md-12 mb-0">
                {{ form.Supplier|as_crispy_field }}
            </div>   
            
            <div class="form-row mx-auto">
                <div class="col-md-4 mb-0">
                    {{ form.Quantity|as_crispy_field }}
                </div>
                <div class=" col-md-4 mb-0">
                    {{ form.Cost|as_crispy_field }}
                </div>
                <div class="col-md-4 mb-0">
                    {{ form.Total_Cost|as_crispy_field }}
                </div>
            </div>
            
        </div>

        <div class="card-footer text-right">
            <a href="{% url 'product-new' %}" class="btn btn-outline-info btn-dark" role="button">Purchase New Product</a>
            <button type="submit" class="btn btn-primary" name="button">Pruchase</button>                
        </div>
        
    </form>

    

</div>

<script>
    $(document).ready(function() {
    $("[name='Quantity'],[name='Cost']").on("change keyup", function() {
        $("[name='Total_Cost']").val(($("[name='Quantity']").val() * $("[name='Cost']").val()))
    });
    });

    $('#dynamic_select').on('change', function () {
        var url = $(this).val(); // get selected value
        if (url) { // require a URL
              window.location = url; // redirect
            }
        return false;
    });
</script>
{% endblock %}