{% extends "inventory/base.html"%}
{% load crispy_forms_tags %}

{% block body %}
    
    <div class="card content-card col-md-5 mx-auto">
        <div class="content-section">
            <form method="POST" action="">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Login</legend>
                    {{ form|crispy }}
                </fieldset>        
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Register <a href="" class="ml-2" href="#">here</a>
                    </small>
                </div>
            </form>        
        </div>    
    </div>
{% endblock body %}

